/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

/*
@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';
*/

/* endinject */


/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */




/**** Colors ****/
:root {
  --accent-archway: #5d4b3c;
  --accent-archway-dark: #2f2424;
  --accent-archway-light: #766253;
  --accent-fog: #dad7cb;
  --accent-fog-dark: #b6b1a9;
  --accent-fog-light: #f4f4f4;
  --accent-illuminating: #fedd5c;
  --accent-illuminating-dark: #fec51d;
  --accent-illuminating-light: #ffe781;
  --accent-poppy: #e98300;
  --accent-poppy-dark: #d1660f;
  --accent-poppy-light: #f9a44a;
  --accent-spirited: #e04f39;
  --accent-spirited-dark: #c74632;
  --accent-spirited-light: #f4795b;
  --accent-stone: #7f7776;
  --accent-stone-dark: #544948;
  --accent-stone-light: #d4d1d1;
  --border-stroke: rgba(84, 73, 72, 0.2);
  --interactive-digital-blue: #006cb8;
  --interactive-digital-blue-dark: #00548f;
  --interactive-digital-blue-light: #85ccff;
  --interactive-digital-green: #008566;
  --interactive-digital-green-dark: #006f54;
  --interactive-digital-green-light: #1aecba;
  --interactive-digital-red: #b1040e;
  --interactive-digital-red-dark: #820000;
  --interactive-digital-red-light: #e50808;
  --neutrals-black: #2e2d29;
  --neutrals-black-10: #eaeaea;
  --neutrals-black-20: #d5d5d4;
  --neutrals-black-30: #c0c0bf;
  --neutrals-black-40: #ababa9;
  --neutrals-black-50: #979694;
  --neutrals-black-60: #767674;
  --neutrals-black-70: #6d6c69;
  --neutrals-black-80: #585754;
  --neutrals-black-90: #43423e;
  --neutrals-white: #ffffff;
  --primary-cardinal: #8c1515;
  --primary-cardinal-light: #b83a4b;
  --primary-dark-cardinal: #820000;
}

/* close :root */

/**** Fonts ****/
:root {
  /** body-text-link-style **/
  --body-text-style-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --body-text-semi-style-font-family: "Source Sans Pro",
    "SourceSansPro-SemiBold";
  --body-text-bold-style-font-family: "Source Sans Pro", "SourceSansPro-Bold";

  --body-text-link-style-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --body-text-link-style-font-size: 16px;
  --body-text-link-style-letter-spacing: 0px;
  --body-text-link-style-line-height: 150%;
  --body-text-link-style-font-weight: 400;
  --body-text-link-style-text-decoration: underline;
  --body-text-link-style-color: black;
  /** bodytext-03 **/
  --bodytext-03-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --bodytext-03-font-size: 14px;
  --bodytext-03-letter-spacing: 0px;
  --bodytext-03-line-height: 120%;
  --bodytext-03-font-weight: 400;
  --bodytext-03-color: black;
  /** bodytext-01 **/
  --bodytext-01-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --bodytext-01-font-size: 18px;
  --bodytext-01-letter-spacing: 0px;
  --bodytext-01-line-height: 130%;
  --bodytext-01-font-weight: 400;
  --bodytext-01-color: black;
  /** bodytext-02 **/
  --bodytext-02-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --bodytext-02-font-size: 16px;
  --bodytext-02-letter-spacing: 0px;
  --bodytext-02-line-height: 150%;
  --bodytext-02-font-weight: 400;
  --bodytext-02-color: black;
  /** cta-button **/
  --cta-button-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --cta-button-font-size: 20px;
  --cta-button-letter-spacing: 0px;
  --cta-button-line-height: 120%;
  --cta-button-font-weight: 600;
  --cta-button-color: black;
  /** cta-link **/
  --cta-link-font-family: "Source Sans Pro", "SourceSansPro-Bold";
  --cta-link-font-size: 16px;
  --cta-link-letter-spacing: 0px;
  --cta-link-line-height: 120%;
  --cta-link-font-weight: 700;
  --cta-link-color: black;
  /** date **/
  --date-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --date-font-size: 16px;
  --date-letter-spacing: 1.6px;
  --date-line-height: 120%;
  --date-font-weight: 600;
  --date-color: black;
  /** date-style **/
  --date-style-font-family: "Source Sans Pro", "SourceSansPro-Bold";
  --date-style-font-size: 72px;
  --date-style-letter-spacing: 0px;
  --date-style-line-height: 100%;
  --date-style-font-weight: 700;
  --date-style-color: black;
  /** date-title **/
  --date-title-font-family: "Source Sans Pro", "SourceSansPro-Bold";
  --date-title-font-size: 48px;
  --date-title-letter-spacing: 0px;
  --date-title-line-height: 100%;
  --date-title-font-weight: 700;
  --date-title-color: black;
  /** heading-01 **/
  --heading-01-font-family: "Source Sans Pro", "SourceSansPro-Bold";
  --heading-01-font-size: 36px;
  --heading-01-letter-spacing: 0px;
  --heading-01-line-height: 120%;
  --heading-01-font-weight: 700;
  --heading-01-color: black;
  /** heading-02 **/
  --heading-02-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --heading-02-font-size: 28px;
  --heading-02-letter-spacing: 0px;
  --heading-02-line-height: 120%;
  --heading-02-font-weight: 600;
  --heading-02-color: black;
  /** heading-03 **/
  --heading-03-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --heading-03-font-size: 24px;
  --heading-03-letter-spacing: 0px;
  --heading-03-line-height: 120%;
  --heading-03-font-weight: 600;
  --heading-03-color: black;
  /** heading-04 **/
  --heading-04-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --heading-04-font-size: 20px;
  --heading-04-letter-spacing: 0px;
  --heading-04-line-height: 120%;
  --heading-04-font-weight: 600;
  --heading-04-color: black;
  /** heading-05 **/
  --heading-05-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --heading-05-font-size: 14px;
  --heading-05-letter-spacing: 0px;
  --heading-05-line-height: 120%;
  --heading-05-font-weight: 600;
  --heading-05-color: black;
  /** heading-06 **/
  --heading-06-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --heading-06-font-size: 24px;
  --heading-06-letter-spacing: 0px;
  --heading-06-line-height: 120%;
  --heading-06-font-weight: 600;
  --heading-06-text-decoration: underline;
  --heading-06-color: black;
  /** heading-07 **/
  --heading-07-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --heading-07-font-size: 20px;
  --heading-07-letter-spacing: 0px;
  --heading-07-line-height: 120%;
  --heading-07-font-weight: 600;
  --heading-07-text-decoration: underline;
  --heading-07-color: black;
  /** heading-08 **/
  --heading-08-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --heading-08-font-size: 16px;
  --heading-08-letter-spacing: 0px;
  --heading-08-line-height: 120%;
  --heading-08-font-weight: 600;
  --heading-08-color: black;
  /** label **/
  --label-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --label-font-size: 14px;
  --label-letter-spacing: 0.7px;
  --label-line-height: 100%;
  --label-font-weight: 600;
  --label-text-transform: uppercase;
  --label-color: black;
  /** link-text **/
  --link-text-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --link-text-font-size: 16px;
  --link-text-letter-spacing: 0px;
  --link-text-line-height: 160%;
  --link-text-font-weight: 400;
  --link-text-color: black;
  /** link-text-line **/
  --link-text-line-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --link-text-line-font-size: 16px;
  --link-text-line-letter-spacing: 0px;
  --link-text-line-line-height: 160%;
  --link-text-line-font-weight: 400;
  --link-text-line-text-decoration: underline;
  --link-text-line-color: black;
  /** link-text-line-hover **/
  --link-text-line-hover-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --link-text-line-hover-font-size: 16px;
  --link-text-line-hover-letter-spacing: 0px;
  --link-text-line-hover-line-height: 160%;
  --link-text-line-hover-font-weight: 400;
  --link-text-line-hover-text-decoration: underline;
  --link-text-line-hover-color: black;
  /** sub-heading-02 **/
  --sub-heading-02-font-family: "Source Sans Pro", "SourceSansPro-Regular";
  --sub-heading-02-font-size: 22px;
  --sub-heading-02-letter-spacing: 0px;
  --sub-heading-02-line-height: 120%;
  --sub-heading-02-font-weight: 400;
  --sub-heading-02-color: black;
  /** sub-text-04 **/
  --sub-text-04-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --sub-text-04-font-size: 14px;
  --sub-text-04-letter-spacing: 0px;
  --sub-text-04-line-height: 120%;
  --sub-text-04-font-weight: 600;
  --sub-text-04-color: black;
  /** sub-text **/
  --sub-text-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --sub-text-font-size: 16px;
  --sub-text-letter-spacing: 0.6px;
  --sub-text-line-height: 120%;
  --sub-text-font-weight: 600;
  --sub-text-color: black;
  /** subheadline-03 **/
  --subheadline-03-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --subheadline-03-font-size: 18px;
  --subheadline-03-letter-spacing: 0px;
  --subheadline-03-line-height: 120%;
  --subheadline-03-font-weight: 600;
  --subheadline-03-color: black;
  /** title **/
  --title-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --title-font-size: 40px;
  --title-letter-spacing: 0px;
  --title-line-height: 150%;
  --title-font-weight: 600;
  --title-color: black;
  /** title-02 **/
  --title-02-font-family: "Source Sans Pro", "SourceSansPro-SemiBold";
  --title-02-font-size: 36px;
  --title-02-letter-spacing: 0px;
  --title-02-line-height: 120%;
  --title-02-font-weight: 600;
  --title-02-color: black;
}

/* close :root */

@import 'CourseResearch.scss';

@import "stanford_cice/buttons";
@import "stanford_cice/tabs";
@import "stanford_cice/common";
@import "stanford_cice/checkboxes";
@import "stanford_cice/radiobuttons";
@import "stanford_cice/dropdownlist";
@import "stanford_cice/input";
@import "stanford_cice/slider";
@import "stanford_cice/vcevents";
@import "stanford_cice/ratingbar";

#wrapper {
  padding-top: 0;
}

.portlet-header {
  display: none;
}



.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
  padding-top: 55px;
}

.sticky-toolbar {
  padding-top: 120px;
}

.sticky-no-control__menu {
  padding-top: 0px;
}




@mixin -footer-legend-general {
  position: relative;
  display: block;
}



.container {
  height: 100%;
}










// Large devices (desktops, 992px and up)
@media (min-width: 991px) {
  .container {
    max-width: 1200px;
  }

}


.hidden {
  display: none;
}



a {
  color: #8C1515;
}

a:hover,
a.hover {
  color: #8C1515;
  text-decoration: underline;
}

.title h1,
.title h3 {
  margin-bottom: 0;
}


section[id*="LiferayReactJsPortlet"] {
  padding: 0
}

section[id*="portlet_LiferayReactJsPortlet"] .portlet-content {
  padding: 0 !important;
}

.dropdown-menu {
  display: none;
  position: absolute;
}

.dropdown-menu.show {
  display: block;
}



.OverallJourney .timeline-item:before {
  background-color: #FFE6E2;
}

.OverallJourney .timeline-icon {
  background-color: #FFE6E2;
  border: 2px solid #FFE6E2;
  height: 12px;
  line-height: 12px;
  width: 12px;
}

.OverallJourney .howto-btn:hover img {
  filter: brightness(0) invert(1)
}

.OverallJourney .btn-primary {
  background-color: #8C1515;
  border-color: #8C1515;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
}

.OverallJourney .btn-primary:hover {
  background-color: #00548F;
  border-color: #00548F;
}

.OverallJourney .card-title {
  text-align: center;
}

.OverallJourney .custom-gap {
  display: flex;
  justify-content: center;
  gap: 86px;
}

.OverallJourney .custom-gap>div {
  margin: 0 8px;
  /* Adjust the margin value to control the gap size */
}

.OverallJourney .card {
  box-shadow: none;
  border: 2px solid #D5D5D4;
  position: relative;
  padding: 40px 60px 37px 60px;
}

.OverallJourney .card-body {
  padding: 0
}

.OverallJourney .card::before {
  height: 6px;
  background: #D5D5D4;
  top: 0;
  position: absolute;
  content: " ";
  left: 5px;
  right: 5px;
  border-radius: 25px 25px 0 0;

}

.OverallJourney .timeline {
  padding-left: 0;
}

.OverallJourney .text-truncate-inline .text-truncate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.OverallJourney .timeline-item {
  min-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 16px;
}

.OverallJourney .timeline-item .panel .timeline-increment {
  top: 2px;
  transform: translate(-50%);
}

.OverallJourney .timeline-item:before {
  bottom: -3px;
  top: 2px;
}

.OverallJourney .timeline-item:last-child:before {
  display: none;
}

.OverallJourney .card-title h2 {
  margin-bottom: 34px;
}

.OverallJourney .title h1,
.title h3 {
  margin-bottom: 0;
}

.OverallJourney {
  font-size: 14px;
}

.OverallJourney .steps {
  width: 72px;
  left: -36px;
  top: 24px;
  position: absolute;
  background-color: #ffe6e2;
  color: #8C1515;
  padding: 8px 12px;
  font-size: 16px;
}

.OverallJourney .steps_alert {
  padding-left: 50px;
}

.OverallJourney .steps_alert>h4 {
  background: #FFE6E2;
  display: flex;
  width: 886px;
  height: 50px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  margin: auto;
  color: #8C1515;

  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-size: 20px;
}

/* header */
.header-section {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  padding: 22px 0;
  background: #fff;
  top: 0;
  z-index: 1;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0;

  &.sticky {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .logo-area {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;

    .vline {
      width: 1px;
      height: 34px;
      background: #D5D5D4;
    }

    .header-title {
      color: var(--Black-100, #2E2D29);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .grp-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    button.icon-btn.btn {
      height: auto;
      padding: 0;
      line-height: normal;

      img {
        width: 24px;
        height: 24px;
        max-width: 24px;
        max-height: 24px;
      }
    }
  }

  .search-box {
    display: flex;
    border: 1px solid $black-20-color;

    .DropdownList {
      position: relative;
    }

    .DropdownList.SelectList .dropdown-menu.show {
      min-width: 96px;
    }

    button.dropdown-toggle.btn {
      width: 96px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-right: 1px solid $black-20-color;
    }

    .dropdown-menu .dropdown-item {
      border-top: none;
    }

    .dropdown {
      border: none;
    }

    .search-input {
      display: flex;
      gap: 12px;
      width: -webkit-fill-available;
      font-size: 14px;

      input {
        width: -webkit-fill-available;
        border: none;
        padding: 10px 15px;
        outline: none;
      }

      button {
        border-radius: 0 !important;
        outline: none;
        width: 50px !important;
      }

      .btn {
        padding: 0;
        display: flex;

        img {
          width: 12px;
          height: 12px;
        }
      }

    }

  }

  .dropdown-menu {
    font-size: 12px;
    border-top: 1px solid #D5D5D4;
    padding: 0;

    li {
      &:first-child {
        .dropdown-item {
          border-top: none;
        }
      }
    }

    .dropdown-item {
      padding: 12px 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      font-size: 12px;
      border-top: 1px solid #D5D5D4;
    }

    .dropdown-item:active {
      color: #16181b !important;
    }

    &::after {
      padding: 0;
    }
  }

  .dropdown-item {
    &:hover {
      background-color: #fff3f1;
    }
  }

  .dropdown-item.hover {
    background-color: #fff3f1;
    color: #8C1515;
  }

  .howto-btn {
    border: 1px solid #272833 !important;
    border-radius: 0px;
    background: #fff !important;
    color: #272833;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover {
      background: #00548F !important;
      border-color: #00548F !important;
      color: #fff !important;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .howto-btn {
    border: 1px solid #272833;
    border-radius: 0px;
    background: #fff !important;
    color: #272833;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover {
      background: #00548F !important;
      border-color: #00548F !important;
      color: #fff !important;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  div#profile-dropdown-menu {
    margin-left: -69px;
    min-width: inherit;
  }
}






.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fw-sb {
  font-weight: 600;
}


.breadcrumb .breadcrumb-item.active {
  color: #8C1515;
}







h2 {
  font-size: 28px !important;
}



.btn {
  border-radius: 0 !important;
}

.btn.btn-primary {
  background: var(--Primary-Maroon, #8C1515);
  border-color: var(--Primary-Maroon, #8C1515);
}

.dropdown.profile-btn {
  border: none;
}

.dropdown-menu {
  padding: 0 !important;
}


ol.breadcrumb {
  margin: 0;
  padding: 0;
  background: transparent;
}