
@import 'infoBanner.scss';
@import 'CoreCourseArea.scss';
@import 'Visualizer.scss';
@import 'CourseList.scss';


.tabs-action-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
  }
  
  .action-items {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  max-width: 100%;
	  flex: auto;
	  .custom-control {
		  margin-bottom: 0;
	  }
  }
   
  ul.nav.nav-tabs {
	display: flex;
	gap: 12px;
  }
  
  .nav-tabs .nav-link {
	padding: 8px 20px !important;
	font-size: 16px;
	border: 1px solid var(--Black-20, #D5D5D4) !important;
	min-width: 160px;
	height: 36px;
	text-align: center;
	line-height: 15px;
  }
  
  .btns-right {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 24px;
	span.button.btn.btn-primary {
		font-size: 16px;
		padding: 5px 16px;
		height: 36px;
	}
  }
.courses.tab-content .tab-pane {
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	padding: 24px 0 !important;
  
  }
  
  .courses.tab-content .tab-pane.active {
	display: flex;
  }
  
  
.content-area {
	display: flex;
	padding: 20px 0;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	max-width: 100%;
  }
  .tab-btn {
	&.btn {
		background: #fff;
		color: #2E2D29;
		font-size: 16px;
		font-weight: 600;
		&.active {
			background: #2E2D29;
			color: #fff;
		}
	}
}

  .nav-tabs {
	padding: 0 !important;
	border: none !important;
	li {
		&.nav-item {
			&.nobdr {
				.btn {
					bottom: 1px;
					position: relative;
				}
			}
			&.btns {
				.tab-btn {
					&.btn {
						background: #fff;
						color: #2E2D29;
						font-size: 16px;
						font-weight: 600;
						border: 1px solid var(--Black-20, #D5D5D4);
					}
				}
				.btn {
					&.active {
						background: #2E2D29;
						color: #fff;
					}
				}
			}
		}
	}
}
.nav-tabs li.nav-item.nobdr,
  .nav-tabs li.nav-item.nobdr .btn {
	border-style: none !important;
	font-size: 14px;
}

  .infobar {
	display: flex;
	padding: 8px 16px;
	align-items: flex-start;
	gap: 10px;
	border: 1px solid var(--Black-20, #D5D5D4);
	background: var(--Bg-Grey, #F7F7F7);
	margin-bottom: 8px;
	font-size: 14px;
  }
   
  
.dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border: 1px solid var(--Black-20, #D5D5D4);
  background: var(--White, #FFF);
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}

.filter-btn.btn {
    background-color: #fff;
    border-color: #88889a;
    color: #6b6c7e;
	line-height: 1.15;
    padding: 8px 16px; 
	line-height: 20px;
	height: 36px;
	width:176px;
}
.filter-btn.btn:hover,
.btn.btn-primary.active:hover,
.btn.btn-primary:hover {
  background-color: #00548F;
  border-color: #00548F;
  color: #fff;
}

.filter-btn.btn:hover img {
  filter: brightness(0) invert(1);
}

.toggle-btn {
	img {
		transition: all 0.75s 0.25s;
		transform: rotate(180deg);
	}
	&.active {
		img {
			transform: rotate(0);
		}
	}
}
