@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("font/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  src: url("font/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("font/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
  src: url("font/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("font/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  src: url("font/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}