 @import "colors";

 .advancedfilters {
   padding: 0 20px;
   position: absolute;
   left: 0;
   right: 0;
   background: $light-grey;
   z-index: 1;
   box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 84, 143, 0.20);

   & .fields-grp {
     display: flex;
     padding: 20px;
     align-items: flex-start;
     gap: 16px;
     background-color: $white;
     margin-bottom: 24px;
   }

   label {
     margin: 0;
   }

   & .inputs-grp {
     display: flex;
     flex-direction: row;
     gap: 12px;
     margin-bottom: 0;
   }

   & .fullwidth {
     width: 100%;
     min-width: inherit;
   }

   & .vline {
     background-color: $dark-grey;
     opacity: .2;
     width: 1px;
     height: 68px;
   }

   & .flexrow {
     display: flex;
     flex-direction: row;
     gap: 16px;
   }

   & .flexcol {
     display: flex;
     flex-direction: column;
     gap: 16px;
     min-width: 150px;
   }

   & .appliedfilters {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding-bottom: 20px;

     & .applied {
       display: flex;
       align-items: flex-start;
       gap: 8px;
       flex-shrink: 0;

       & label {
         display: flex;
         padding: 2px 8px;
         align-items: center;
         gap: 6px;
         color: $black-80-color;
         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: 120%;
         background: $white;
       }
     }

     .action-btns {
       display: flex;
       align-items: flex-start;
       gap: 12px;
     }
   }



 }