@import 'colors';

.link_cards {
    width: 950px; 
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch; 
    .link_card {
        display: flex;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        flex: 1 0 0;
        align-self: stretch;
        border: 1px solid $black-20-color;
        cursor: pointer; 
        .link_card-icon {
            width: 32px;
            height: 32px;
        }

        .link_card-text {
            color: $primary-balck;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            min-height: 50px;
        }
        svg {
            color:$black-100-color;
        }
        &:hover,
        .active {
            background: $bg-grey;
            border-color: $bg-grey;
            color:$primary-maroon;
            svg {
                color:$primary-maroon;
            }
            .link_card-text {
                text-decoration: underline;
                color:$primary-maroon;
            }
        }
    }
}