// Define your color variables
$primary-maroon:  #8C1515 ;
$primary-balck:  #000 ;
$secondary-color: #00548F;
$ghost-color: #ecf0f1;
$disabled-color: #D5D5D4;
$white:   #FFF ;
$secondary-default-bg: #fff;
$secondary-default-color: #2E2D29;
$ghost-default-color: #8C1515;  
$black-100-color: #2E2D29;
$black-80-color: #585754;
$black-60-color: #767674;
$black-20-color: #D5D5D4;
$bg-grey:#F7F7F7;
$dark-grey:#524D4C;
$light-grey:#F1F4F6;
$black-color-2: #2E2D29;
$black-color-3: #43423E;
$black-color-4: #272833;
$black-color-5: #16181b;
$grey-color-2: #88889a;
$grey-color-3: #6b6c7e;
$tag: #FFE6E2;
$filter-white-color: invert(100%) sepia(65%) saturate(0%) hue-rotate(310deg) brightness(105%) contrast(101%);
$filter-black-20-color: invert(100%) sepia(1%) saturate(2623%) hue-rotate(31deg) brightness(91%) contrast(83%);

$filter-black-60-color: invert(49%) sepia(0%) saturate(1782%) hue-rotate(157deg) brightness(92%) contrast(79%);
$filter-black-100-color: invert(15%) sepia(5%) saturate(659%) hue-rotate(11deg) brightness(100%) contrast(94%);
$filter-secondary-color: invert(16%) sepia(41%) saturate(6769%) hue-rotate(191deg) brightness(95%) contrast(103%);
$filter-primary-maroon:invert(22%) sepia(15%) saturate(5540%) hue-rotate(332deg) brightness(96%) contrast(113%);
 
$enrolled-color: #7CDB06;
$conflict-color: #BB2625;
$planned-color: #F3A83B;
$preferences-color: #009CBA;

$coreArea1-color: #F073F2;
$coreArea2-color: #FF9A9A;
$coreArea3-color: #7094FF;
$coreArea4-color: #A688E7;
$coreArea5-color: #CAAD7D;

$coreArea6-color: #4FCAFF;
$coreArea7-color : #FFE600;
$coreArea8-color: #FEB0FF;
$coreArea9-color: #99B3FF;

$coreArea10-color: #A3E3FF;
$coreArea11-color: #E5D6BE;
$coreArea12-color: #FFBCBC;
$coreArea13-color: #FFFCB3;
$coreArea14-color: #CCBBF1;


$star1-color: #BB2625;
$star2-color: #FFE6E2;
$star3-color: #AAF150;
$star4-color: #7CDB06;
$star5-color: #F3A83B;