// Define your color variables
@import "colors";
  
// Apply the styles with different sizes, states, types, and icon positions
 
.sdtd-pagination {   
  .pagination .page-item{
     .page-link, .page-link:hover {
      color:$black-100-color;
      border: 1px solid $black-20-color;
      border-radius:0;
      text-decoration: none;
      min-width: 35px;
      min-height: 35px;
      &:before {
        display: none;
      }
      .page-link.disabled {
        opacity: .3;
      }
  }  
  }

}