@import 'CourseResearch.scss'; 
@import 'stanford_cice/buttons';
@import 'stanford_cice/tabs';
@import 'stanford_cice/common';
@import 'stanford_cice/checkboxes';
@import 'stanford_cice/radiobuttons';
@import 'stanford_cice/dropdownlist';
@import 'stanford_cice/input';
@import 'stanford_cice/slider';
@import 'stanford_cice/vcevents';
@import 'stanford_cice/ratingbar';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} 







.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fw-sb {
  font-weight: 600;
}
 

.breadcrumb .breadcrumb-item.active {
  color: #8C1515;
}
  


h2 {
  font-size: 28px !important;
}

h4 {
  font-size: 20px !important;
}


.btn {
  border-radius: 0 !important;
}

.btn.btn-primary {
  background: var(--Primary-Maroon, #8C1515);
  border-color: var(--Primary-Maroon, #8C1515);
}

.dropdown-menu {
  padding: 0 !important;
}
 

ol.breadcrumb {
  margin: 0;
  padding: 0;
  background: transparent;
}








